[user]
    email = <your email>
    name = <your complete name>
[core]
    editor = vim
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[pager]
    branch = false
    log = false
